@mixin fade-1() {
  animation-name: fade1;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fade1 {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin fade-2() {
  animation-name: fade2;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes fade2 {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
